<div class="space status-table">
  <div class="space space4">
    <div class="space space43">
      <nb-icon class="icon alternate" nbTooltip="" icon="arrow-ios-upward"></nb-icon>
      <span class="text text-alternate text-alignment-left text-transform-none subtitle-2">Social media links indexed</span>
    </div>
    <div class="space space45">
      <h1 class="heading1 text-success text-alignment-left text-transform-none">12</h1>
    </div>
    <div class="space space46">
      <nb-icon class="icon11 success tiny" nbTooltip="" icon="arrow-up"></nb-icon>
      <p class="text1 text-success text-italic text-alignment-left text-transform-none paragraph">4%</p>
      <span class="text29 text-success text-alignment-left text-transform-none subtitle-2">From Last Week</span>
    </div>
  </div>
  <div class="space space6">
    <div class="space space50">
      <nb-icon class="icon1 alternate" nbTooltip="" icon="clock-outline"></nb-icon>
      <span class="text2 text-alternate text-alignment-left text-transform-none subtitle-2">New article links indexed</span>
    </div>
    <div class="space space47">
      <h1 class="heading2 text-success text-alignment-left text-transform-none">36</h1>
    </div>
    <div class="space space48">
      <nb-icon class="icon2 success tiny" nbTooltip="" icon="arrow-up"></nb-icon>
      <p class="text3 text-success text-italic text-alignment-left text-transform-none paragraph">4%</p>
      <span class="text28 text-success text-alignment-left text-transform-none subtitle-2">From Last Week</span>
    </div>
  </div>
  <div class="space space7">
    <div class="space space51">
      <nb-icon class="icon3 alternate" nbTooltip="" icon="cube-outline"></nb-icon>
      <span class="text4 text-alternate text-alignment-left text-transform-none subtitle-2">Content Review Tasks</span>
    </div>
    <div class="space space61">
      <h1 class="heading3 text-danger text-alignment-left text-transform-none">14</h1>
    </div>
    <div class="space space58">
      <nb-icon class="icon4 danger tiny" nbTooltip="" icon="arrow-down"></nb-icon>
      <p class="text5 text-danger text-italic text-alignment-left text-transform-none paragraph">4%</p>
      <span class="text27 text-danger text-alignment-left text-transform-none subtitle-2">From Last Week</span>
    </div>
  </div>
  <div class="space space8">
    <div class="space space62">
      <nb-icon class="icon5 alternate" nbTooltip="" icon="arrowhead-right"></nb-icon>
      <span class="text6 text-alternate text-alignment-left text-transform-none subtitle-2">Potential Fake News Sites</span>
    </div>
    <div class="space space65">
      <h1 class="heading4 text-success text-alignment-left text-transform-none">120</h1>
    </div>
    <div class="space space63">
      <nb-icon class="icon8 success tiny" nbTooltip="" icon="arrow-up"></nb-icon>
      <p class="text9 text-success text-italic text-alignment-left text-transform-none paragraph">4%</p>
      <span class="text26 text-success text-alignment-left text-transform-none subtitle-2">From Last Week</span>
    </div>
  </div>
  <div class="space space9">
    <div class="space space66">
      <nb-icon class="icon6 alternate" nbTooltip="" icon="car-outline"></nb-icon>
      <span class="text7 text-alternate text-alignment-left text-transform-none subtitle-2">Sites indexed this month</span>
    </div>
    <div class="space space69">
      <h1 class="heading5 text-success text-alignment-left text-transform-none">129</h1>
    </div>
    <div class="space space67">
      <nb-icon class="icon9 success tiny" nbTooltip="" icon="arrow-up"></nb-icon>
      <p class="text10 text-success text-italic text-alignment-left text-transform-none paragraph">4%</p>
      <span class="text25 text-success text-alignment-left text-transform-none subtitle-2">From Last Week</span>
    </div>
  </div>
  <div class="space space5">
    <div class="space space70">
      <nb-icon class="icon7 alternate" nbTooltip="" icon="credit-card-outline"></nb-icon>
      <span class="text8 text-alternate text-alignment-left text-transform-none subtitle-2">Articles indexed this month</span>
    </div>
    <div class="space space87">
      <h1 class="heading6 text-success text-alignment-left text-transform-none">17,325</h1>
    </div>
    <div class="space space77">
      <nb-icon class="icon10 success tiny" nbTooltip="" icon="arrow-up"></nb-icon>
      <p class="text11 text-success text-italic text-alignment-left text-transform-none paragraph">34%</p>
      <span class="text24 text-success text-alignment-left text-transform-none subtitle-2">From Last Month</span>
    </div>
  </div>
  <div class="space space12">
    <button nbButton class="button3 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>New Scan Task</span>
    </button>
    <button nbButton class="button5 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>New Case File</span>
    </button>
    <button nbButton class="button6 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>Add new plugin</span>
    </button>
    <button nbButton class="button7 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>New Note</span>
    </button>
    <button nbButton class="button8 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>Run a quick site scan</span>
    </button>
    <button nbButton class="button9 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>Show RSS traffic</span>
    </button>
    <button nbButton class="button10 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>Show social media traffic</span>
    </button>
  </div>
</div>