:host {

  width: 100%;
  height: auto;
  display: block;
  
  .icon {
    margin: 0 8px 0 0;
  }
    
  .text {
    margin: 0;
  }
    
  .space43 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }
    
  .heading1 {
    margin: 0;
  }
    
  .space45 {
    height: 48px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }
    
  .icon11 {
    margin: 0;
  }
    
  .text1 {
    margin: 0;
  }
    
  .text29 {
    margin: 0 0 0 4px;
  }
    
  .space46 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space4 {
    height: auto;
    min-height: 2rem;
    width: 16.666666666666668%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }
    
  .icon1 {
    margin: 0 8px 0 0;
  }
    
  .text2 {
    margin: 0;
  }
    
  .space50 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .heading2 {
    margin: 0;
  }
    
  .space47 {
    height: 48px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon2 {
    margin: 0;
  }
    
  .text3 {
    margin: 0;
  }
    
  .text28 {
    margin: 0 0 0 4px;
  }
    
  .space48 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space6 {
    height: 112px;
    width: 16.666666666666668%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }
    
  .icon3 {
    margin: 0 8px 0 0;
  }
    
  .text4 {
    margin: 0;
  }
    
  .space51 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .heading3 {
    margin: 0;
  }
    
  .space61 {
    height: 48px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon4 {
    margin: 0;
  }
    
  .text5 {
    margin: 0;
  }
    
  .text27 {
    margin: 0 0 0 4px;
  }
    
  .space58 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space7 {
    height: 112px;
    width: 16.666666666666668%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon5 {
    margin: 0 8px 0 0;
  }
    
  .text6 {
    margin: 0;
  }
    
  .space62 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .heading4 {
    margin: 0;
  }
    
  .space65 {
    height: 48px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon8 {
    margin: 0;
  }
    
  .text9 {
    margin: 0;
  }
    
  .text26 {
    margin: 0 0 0 4px;
  }
    
  .space63 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space8 {
    height: 112px;
    width: 16.666666666666668%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon6 {
    margin: 0 8px 0 0;
  }
    
  .text7 {
    margin: 0;
  }
    
  .space66 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .heading5 {
    margin: 0;
  }
    
  .space69 {
    height: 48px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon9 {
    margin: 0;
  }
    
  .text10 {
    margin: 0;
  }
    
  .text25 {
    margin: 0 0 0 4px;
  }
    
  .space67 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space9 {
    height: 112px;
    width: 16.666666666666668%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon7 {
    margin: 0 8px 0 0;
  }
    
  .text8 {
    margin: 0;
  }
    
  .space70 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .heading6 {
    margin: 0;
  }
    
  .space87 {
    height: 48px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .icon10 {
    margin: 0;
  }
    
  .text11 {
    margin: 0;
  }
    
  .text24 {
    margin: 0 0 0 8px;
  }
    
  .space77 {
    height: 32px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }
    
  .space5 {
    height: 112px;
    width: 16.666666666666668%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }
    
  .button3 {
    margin: 0 0 0 12px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .button5 {
    margin: 0 0 0 10px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .button6 {
    margin: 0 0 0 10px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .button7 {
    margin: 0 0 0 10px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .button8 {
    margin: 0 0 0 10px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .button9 {
    margin: 0 0 0 10px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .button10 {
    margin: 0 0 0 10px;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }
    
    span {
      display: inline;
    }
    
    > nb-icon {
      display: none;
    }
  }
    
  .space12 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 10px 0 0 0;
    overflow: visible;
    background-color: unset;
  }
    
  .status-table {
    height: 100%;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 12px;
    overflow: visible;
    background-color: var(--background-alternative-color-1);
  }
    
  @media (max-width: 1024px) {
    .icon {
      display: none;
    }
    
    .icon1 {
      display: none;
    }
    
    .icon3 {
      display: none;
    }
    
    .icon5 {
      display: none;
    }
    
    .icon6 {
      display: none;
    }
    
    .icon7 {
      display: none;
    }margin: 0 0 16px 0;
    flex-grow: 1;
  }
    
  @media (max-width: 768px) {
    .space4 {
      height: auto;
      min-height: 2rem;
      width: 33.333333333333336%;
    }
    
    .space6 {
      height: 112px;
      width: 33.333333333333336%;
    }
    
    .space7 {
      height: 112px;
      width: 33.333333333333336%;
    }
    
    .space8 {
      height: 112px;
      width: 33.333333333333336%;
    }
    
    .space9 {
      height: 112px;
      width: 33.333333333333336%;
    }
    
    .space5 {
      height: 112px;
      width: 33.333333333333336%;
    }
  }
    
  @media (max-width: 480px) {
    .space4 {
      height: auto;
      min-height: 2rem;
      width: 50%;
    }
    
    .space6 {
      height: 112px;
      width: 50%;
    }
    
    .space7 {
      height: 112px;
      width: 50%;
    }
    
    .space8 {
      height: 112px;
      width: 50%;
    }
    
    .space9 {
      height: 112px;
      width: 50%;
    }
    
    .space5 {
      height: 112px;
      width: 50%;
    }margin: 0 0 24px 0;
    flex-grow: 1;
  }
    
  @media (max-width: 320px) {
    .space43 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space45 {
      height: 48px;
      width: 100%;
    }
    
    .space46 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space4 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      justify-content: center;
      padding: 0 0 16px 0;
    }
    
    .space50 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space48 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space6 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 0 16px 0;
    }
    
    .space51 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space58 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space7 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 0 16px 0;
    }
    
    .space62 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space63 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space8 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 0 16px 0;
    }
    
    .space66 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space67 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space9 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 0 16px 0;
    }
    
    .space70 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space77 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .space5 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0 0 16px 0;
    }
  }
  
}