<nb-card class="status-card2">
  <nb-card-header>
    <div class="space space85">
      <span class="text17 text-basic text-alignment-left text-transform-none subtitle">Target Type: Website</span>
    </div>
  </nb-card-header>

  <nb-card-body>
    <app-space23></app-space23>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space84">
      <button nbButton class="button1 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Run a new Scan</span>
      </button>
      <button nbButton class="button2 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Archive</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>