<nb-card class="arriving">
  <nb-card-header>
    <div class="space space37">
      <h6 class="heading7 text-basic text-alignment-left text-transform-none">[username] statistics today</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space59">
      <div class="space space381">
        <nb-icon class="icon13 basic" nbTooltip="" icon="browser"></nb-icon>
      </div>
      <div class="space space421">
        <span class="text42 text-basic text-alignment-left text-transform-none subtitle">10 new websites indexed</span>
      </div>
      <div class="divider"></div>
      <div class="space space13">
        <nb-icon class="icon12 basic" nbTooltip="" icon="link"></nb-icon>
      </div>
      <div class="space space131">
        <span class="text30 text-basic text-alignment-left text-transform-none subtitle">120 new links identified</span>
      </div>
      <div class="divider1"></div>
      <div class="space space14">
        <nb-icon class="icon14 basic" nbTooltip="" icon="activity"></nb-icon>
      </div>
      <div class="space space141">
        <span class="text31 text-basic text-alignment-left text-transform-none subtitle">20 failed Scan Tasks</span>
      </div>
      <div class="divider2"></div>
      <div class="space space15">
        <nb-icon class="icon15 basic" nbTooltip="" icon="alert-triangle"></nb-icon>
      </div>
      <div class="space space151">
        <span class="text39 text-basic text-alignment-left text-transform-none subtitle"></span>
        <span class="text41 text-basic text-alignment-left text-transform-none subtitle">1 new alert</span>
      </div>
      <div class="divider3"></div>
      <div class="space space16">
        <nb-icon class="icon16 basic" nbTooltip="" icon="navigation-2"></nb-icon>
      </div>
      <div class="space space161">
        <p class="text43 text-basic text-alignment-left text-transform-none paragraph">1 new location found</p>
      </div>
      <div class="divider4"></div>
      <div class="space space18">
        <nb-icon class="icon17 basic" nbTooltip="" icon="star-outline"></nb-icon>
      </div>
      <div class="space space181">
        <span class="text45 text-basic text-alignment-left text-transform-none subtitle">4 social profiles identified</span>
      </div>
      <div class="divider5"></div>
      <div class="space space19">
        <span class="text46 text-basic text-alignment-left text-transform-none subtitle">Current running task:</span>
      </div>
      <div class="space space191">
        <p class="text47 text-basic text-alignment-left text-transform-none paragraph">CBSnews.com.co</p>
      </div>
      <div class="divider9"></div>
      <div class="space space24">
        <p class="text58 text-basic text-alignment-left text-transform-none paragraph">API State</p>
      </div>
      <div class="space space242">
        <p class="text59 text-danger text-alignment-left text-transform-none paragraph">Error / Stable</p>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space39">
      <p class="text12 text-danger text-alignment-left text-transform-none paragraph">Select an option then click the button</p>
      <button nbButton class="button size-xl-medium size-xs-small" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Details</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>