<div class="space space21">
  <div class="space space22">
    <app-status-card2></app-status-card2>
    <div class="space space68">
      <app-smart-table class="smart-table" [settings]="settings" [source]="source"></app-smart-table>
    </div>
  </div>
  <div class="divider12"></div>
  <div class="divider13"></div>
  <div class="divider14"></div>
  <div class="space space71">
    <div class="space space72">
      <app-map class="map1"></app-map>
    </div>
    <div class="space space721">
      <a nbButton href="" target="_blank"  class="button-link1 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>View Registrar Location</span>
      </a>
      <a nbButton href="" target="_blank"  class="button-link2 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>View Covid-19 Data</span>
      </a>
      <a nbButton href="" target="_blank"  class="button-link3 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>View Wiggle Data</span>
      </a>
      <a nbButton href="" target="_blank"  class="button-link4 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>View Cell Tower Data</span>
      </a>
      <a nbButton href="" target="_blank"  class="button-link5 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>View Social Media Spread</span>
      </a>
      <a nbButton href="" target="_blank"  class="button-link6 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>View Article Handler Locations</span>
      </a>
    </div>
    <div class="space space7212">
      <app-table1></app-table1>
    </div>
  </div>
  <div class="divider15"></div>
  <div class="space space83">
    <app-tabs></app-tabs>
  </div>
  <div class="divider16"></div>
  <div class="space space107">
    <button nbButton class="button12 size-xl-medium" appearance="filled" status="warning">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>New Scan Task for this Target</span>
    </button>
    <button nbButton class="button13 size-xl-medium" appearance="filled" status="info">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>make a note</span>
    </button>
    <button nbButton class="button14 size-xl-medium" appearance="filled" status="danger">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>Archive</span>
    </button>
    <button nbButton class="button15 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>Link to another Case File</span>
    </button>
    <button nbButton class="button16 size-xl-medium" appearance="filled" status="primary">
      <nb-icon class="icon btn-icon" icon="star"></nb-icon>
      <span>Make a report</span>
    </button>
  </div>
</div>