<table class="table3 border">
  <thead>
    <th>
      <div class="space space111">
        <span class="text80 text-basic text-alignment-left text-transform-none subtitle">Item</span>
      </div>
    </th>
    <th>
      <div class="space space112">
        <span class="text81 text-basic text-alignment-left text-transform-none subtitle">Type</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space113">
          <p class="text82 text-basic text-alignment-left text-transform-none paragraph">breakingnews.xyz</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space114">
          <p class="text87 text-basic text-alignment-left text-transform-none paragraph">Website</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space115">
          <p class="text83 text-basic text-alignment-left text-transform-none paragraph">AAA Record</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space116">
          <p class="text88 text-basic text-alignment-left text-transform-none paragraph">86.999.999.999</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space117">
          <p class="text84 text-basic text-alignment-left text-transform-none paragraph">MX Record</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1171">
          <p class="text89 text-basic text-alignment-left text-transform-none paragraph">mx.breakingnews.xyz</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space118">
          <p class="text85 text-basic text-alignment-left text-transform-none paragraph">IP</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1181">
          <p class="text90 text-basic text-alignment-left text-transform-none paragraph">34.343.344.333</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space119">
          <p class="text86 text-basic text-alignment-left text-transform-none paragraph">Mail</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1191">
          <p class="text91 text-basic text-alignment-left text-transform-none paragraph">contact@breakingnews.xyz</p>
        </div>
      </td>
    </tr>  
  </tbody>
</table>