<div class="space space28">
  <div class="space space29">
    <img class="image2" src="/assets/images/default.svg" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
    <div class="space space36">
      <p class="text54 text-basic text-alignment-left text-transform-none paragraph">@jsmith</p>
      <div class="divider7"></div>
      <p class="text55 text-basic text-alignment-left text-transform-none paragraph">John Smith</p>
    </div>
  </div>
  <div class="space space30">
    <h6 class="heading15 text-basic">John Smith</h6>
  </div>
  <div class="space space31">
    <span class="text50 text-basic subtitle">25 new posts</span>
    <span class="text51 text-hint subtitle">this week</span>
  </div>
</div>
