<nb-tabset class="tabs" fullWidth>
  <nb-tab tabTitle="target profile" class="slot">
    <div class="space space86">
      <app-table2></app-table2>
    </div>
  </nb-tab>

  <nb-tab tabTitle="sentiment analysis" class="slot">
    <div class="space space89">
      <div class="space space97">
        <app-accordion></app-accordion>
      </div>
      <div class="space space103">
        <img class="image" src="/assets/images/default.svg" src="/assets/images/sentiment-sample.jpg">
      </div>
    </div>
  </nb-tab>

  <nb-tab tabTitle="metadata map" class="slot">
    <div class="space space90">
      <img class="image1" src="/assets/images/default.svg" src="/assets/images/photon-sample.jpg">
    </div>
  </nb-tab>

  <nb-tab tabTitle="vulnerability list" class="slot">
    <div class="space space108">
      <app-table4></app-table4>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Item List" class="slot">
    <div class="space space109">
      <app-table3></app-table3>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Content indicators" class="slot">
    <div class="space space110">
      <app-smart-table class="smart-table1" [settings]="settings" [source]="source"></app-smart-table>
    </div>
  </nb-tab>
</nb-tabset>