<table class="table4 border">
  <thead>
    <th>
      <div class="space space120">
        <span class="text92 text-basic text-alignment-left text-transform-none subtitle">Header 1</span>
      </div>
    </th>
    <th>
      <div class="space space121">
        <span class="text93 text-basic text-alignment-left text-transform-none subtitle">Header 2</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space122">
          <p class="text94 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space123">
          <p class="text99 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space124">
          <p class="text95 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space125">
          <p class="text100 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space126">
          <p class="text96 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1261">
          <p class="text101 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space127">
          <p class="text97 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1271">
          <p class="text102 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space128">
          <p class="text98 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1281">
          <p class="text103 text-basic text-alignment-left text-transform-none paragraph">New Text</p>
        </div>
      </td>
    </tr>  
  </tbody>
</table>