:host {

  width: 100%;
  height: auto;
  display: block;
  
  .space120 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space121 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space122 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space123 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space124 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space125 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space126 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space1261 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space127 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space1271 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space128 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .space1281 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 4px 8px;
    overflow: visible;
    background-color: unset;
  }
    
  .table4 {
  
    width: 100%;
    height: 100%;
    background-color: unset;
  
  }
}