<table class="table1 border">
  <thead>
    <th>
      <div class="space space73">
        <span class="text18 text-basic text-alignment-left text-transform-none subtitle">Registrar</span>
      </div>
    </th>
    <th>
      <div class="space space74">
        <span class="text19 text-basic text-alignment-left text-transform-none subtitle">Geodata</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space75">
          <input nbInput class="input size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" status="basic">
        </div>
      </td>  
      <td class="slot">
        <div class="space space76">
          <input nbInput class="input2 size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" status="basic">
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space78">
          <input nbInput class="input1 size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" status="basic">
        </div>
      </td>  
      <td class="slot">
        <div class="space space79">
          <input nbInput class="input3 size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" status="basic">
        </div>
      </td>
    </tr>  
  </tbody>
</table>