<div class="space space2">
  <app-status-table></app-status-table>
  <div class="space space40">
    <app-bookings></app-bookings>
  </div>
  <div class="space space88">
    <app-arriving></app-arriving>
  </div>
  <div class="divider6"></div>
  <div class="space space20">
    <app-multiple-bar-chart class="multiple-bar-chart" [data]="data"></app-multiple-bar-chart>
  </div>
  <div class="space space202">
    <div class="space space44">
      <span class="text61 text-basic text-alignment-left text-transform-none subtitle">Latest scanned sites meta scores</span>
    </div>
    <app-table></app-table>
    <div class="divider11"></div>
    <div class="space space64">
      <p class="text67 text-basic text-alignment-left text-transform-none paragraph">* the bigger the score, the more potential fake news that website contains</p>
    </div>
  </div>
  <div class="space space201">
    <app-status-card></app-status-card>
    <app-status-card1></app-status-card1>
  </div>
</div>