<table class="table border">
  <thead>
    <th>
      <div class="space space49">
        <span class="text62 text-basic text-alignment-left text-transform-none subtitle">H1eader</span>
        <p class="text64 text-basic text-alignment-left text-transform-none paragraph">Website</p>
      </div>
    </th>
    <th>
      <div class="space space52">
        <span class="text63 text-basic text-alignment-left text-transform-none subtitle">Metascore*</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space53">
          <p class="text65 text-basic text-alignment-left text-transform-none paragraph">CBSnews.com.co</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space54">
          <p class="text66 text-basic text-alignment-left text-transform-none paragraph">5</p>
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space55">
          <p class="text68 text-basic text-alignment-left text-transform-none paragraph">usatoday.com.co</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space60">
          <p class="text69 text-basic text-alignment-left text-transform-none paragraph">125</p>
        </div>
      </td>
    </tr>  
  </tbody>
</table>