<table class="table2 border">
  <thead>
    <th>
      <div class="space space91">
        <span class="text22 text-basic text-alignment-left text-transform-none subtitle">Item Type</span>
      </div>
    </th>
    <th>
      <div class="space space92">
        <span class="text23 text-basic text-alignment-left text-transform-none subtitle">Content</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space93">
          <p class="text44 text-basic text-alignment-left text-transform-none paragraph">Metalinks to site</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space94">
          
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space95">
          <p class="text48 text-basic text-alignment-left text-transform-none paragraph">Social Media Links</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space96">
          
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space101">
          <p class="text77 text-basic text-alignment-left text-transform-none paragraph">Social media accounts</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1011">
          
        </div>
      </td>
    </tr>  
    <tr>  
      <td class="slot">
        <div class="space space105">
          <p class="text78 text-basic text-alignment-left text-transform-none paragraph">Rankings</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space space1051">
          <div class="space space106">
            <p class="text79 text-basic text-alignment-left text-transform-none paragraph">Google Analytics</p>
          </div>
          <div class="space space1061">
            <input nbInput class="input4 size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" status="basic">
          </div>
        </div>
      </td>
    </tr>  
  </tbody>
</table>