<div class="space space23">
  <div class="space space25">
    <div class="space space80">
      <div class="space space81">
        <nb-icon class="icon19 basic" nbTooltip="" icon="browser"></nb-icon>
      </div>
      <div class="space space82">
        <p class="text20 text-basic text-alignment-left text-transform-none paragraph">IP</p>
        <p class="text21 text-basic text-alignment-left text-transform-none paragraph">85.151.19.232</p>
      </div>
    </div>
  </div>
  <div class="space space26">
    <h6 class="heading8 text-basic">breakingnews.xyz</h6>
  </div>
  <div class="space space56">
    <span class="text13 text-basic subtitle">Metascore</span>
    <span class="text14 text-hint subtitle">420</span>
  </div>
</div>