<nb-accordion class="accordion"  multi="false">
  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Mis-Leading Information Classifications</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space98">
        <div class="space space10211">
          <div class="space space102">
            <nb-icon class="icon20 basic" nbTooltip="" icon="star-outline"></nb-icon>
            <p class="text49 text-basic text-alignment-left text-transform-none paragraph">Sattire or Parody</p>
          </div>
          <div class="space space1021">
            <nb-icon class="icon21 basic" nbTooltip="" icon="star-outline"></nb-icon>
            <p class="text70 text-basic text-alignment-left text-transform-none paragraph">Misleading Content</p>
          </div>
          <div class="space space10212">
            <nb-icon class="icon22 basic" nbTooltip="" icon="star-outline"></nb-icon>
            <p class="text71 text-basic text-alignment-left text-transform-none paragraph">Imposter Content</p>
          </div>
          <div class="space space102121">
            <nb-icon class="icon23 basic" nbTooltip="" icon="star-outline"></nb-icon>
            <p class="text16 text-basic text-alignment-left text-transform-none paragraph">Click-bait</p>
          </div>
        </div>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Message Classification Attributes</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space99">
        <div class="space space17">
          <nb-icon class="icon24 basic" nbTooltip="" icon="star-outline"></nb-icon>
          <p class="text72 text-basic text-alignment-left text-transform-none paragraph">Echo Chamber</p>
        </div>
        <div class="space space174">
          <nb-icon class="icon25 basic" nbTooltip="" icon="star-outline"></nb-icon>
          <p class="text73 text-basic text-alignment-left text-transform-none paragraph">Media bias</p>
        </div>
        <div class="space space173">
          <nb-icon class="icon26 basic" nbTooltip="" icon="star-outline"></nb-icon>
          <p class="text74 text-basic text-alignment-left text-transform-none paragraph">Info Gatekeeper</p>
        </div>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Dissemination classification</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space100">
        <div class="space space104">
          <nb-icon class="icon27 basic" nbTooltip="" icon="star-outline"></nb-icon>
          <p class="text75 text-basic text-alignment-left text-transform-none paragraph">Contagion</p>
        </div>
        <div class="space space1042">
          <nb-icon class="icon28 basic" nbTooltip="" icon="star-outline"></nb-icon>
          <p class="text76 text-basic text-alignment-left text-transform-none paragraph">Moderate spread</p>
        </div>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>