<div class="space space32">
  <div class="space space33">
    <img class="image3" src="/assets/images/default.svg" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
    <div class="space space38">
      <p class="text56 text-basic text-alignment-left text-transform-none paragraph">Twitter Handler</p>
      <div class="divider8"></div>
      <p class="text57 text-basic text-alignment-left text-transform-none paragraph">Facebook Handler</p>
    </div>
  </div>
  <div class="space space34">
    <h6 class="heading16 text-basic">Profile Handler Name Here</h6>
  </div>
  <div class="space space35">
    <span class="text52 text-basic subtitle">3 new posts</span>
    <span class="text53 text-hint subtitle">this week</span>
  </div>
</div>