<nb-card class="bookings">
  <nb-card-header>
    <div class="space space10">
      <div class="space space41">
        <h6 class="heading text-basic text-alignment-left text-transform-none">Number of news websites publishing COVID-19 news per country</h6>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component">
      <div class="space space11">
        <div class="space space7211">
          <nb-checkbox class="checkbox" status="success">United States</nb-checkbox>
          <p class="text32 text-basic text-alignment-left text-transform-none paragraph">20</p>
        </div>
        <div class="space space7411">
          <nb-checkbox class="checkbox1" status="success">France</nb-checkbox>
          <p class="text33 text-basic text-alignment-left text-transform-none paragraph">3</p>
        </div>
        <div class="space space7611">
          <nb-checkbox class="checkbox2" status="success">Germany</nb-checkbox>
          <p class="text34 text-basic text-alignment-left text-transform-none paragraph">1</p>
        </div>
        <div class="space space7911">
          <nb-checkbox class="checkbox3" status="success">Japan</nb-checkbox>
          <p class="text35 text-basic text-alignment-left text-transform-none paragraph">1</p>
        </div>
        <div class="space space8211">
          <nb-checkbox class="checkbox4" status="success">Russia</nb-checkbox>
          <p class="text36 text-basic text-alignment-left text-transform-none paragraph">3</p>
        </div>
        <div class="space space8411">
          <nb-checkbox class="checkbox5" status="success">Spain</nb-checkbox>
          <p class="text37 text-basic text-alignment-left text-transform-none paragraph">4</p>
        </div>
        <div class="space space3411">
          <nb-checkbox class="checkbox6" status="success">England</nb-checkbox>
          <p class="text38 text-basic text-alignment-left text-transform-none paragraph">1</p>
        </div>
        <div class="divider10"></div>
        <div class="space space27">
          <nb-icon class="icon18 basic" nbTooltip="" icon="corner-down-right"></nb-icon>
          <p class="text60 text-basic text-alignment-left text-transform-none paragraph">Insert geodata to display on map</p>
        </div>
        <div class="space space271">
          <input nbInput class="input11 size-xl-medium" placeholder="Enter coordinates" type="text" shape="rectangle" status="basic">
          <div class="space space42">
            <button nbButton class="button11 size-xl-medium" appearance="filled" status="primary">
              <nb-icon class="icon btn-icon" icon="star"></nb-icon>
              <span>GO</span>
            </button>
          </div>
        </div>
      </div>
      <app-map class="map"></app-map>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space1">
      <p class="text40 text-danger text-alignment-left text-transform-none paragraph">Select an option then click  the button</p>
      <button nbButton class="button4 size-xl-medium size-xs-small" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Details</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>