@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  header-height: 80px,
  header-padding: 16px,
  header-background-color: background-basic-color-1,
  sidebar-width: 256px,
  sidebar-padding: 16px,
  sidebar-background-color: background-basic-color-1,

  border-radius: 0.25rem,
  bg-default-color: color-basic-100,
  bg-disabled-color: color-basic-400,
  card-disabled-header-border-color: color-basic-500,
  card-disabled-footer-border-color: color-basic-500,
  table-disabled-border-color: color-basic-500,
  bg-hint-color: color-basic-200,
  card-hint-header-border-color: color-basic-300,
  card-hint-footer-border-color: color-basic-300,
  table-hint-border-color: color-basic-400,
  table-border-color: color-basic-500,
  shadow: 0 0.5rem 1rem 0 rgba(116, 135, 154, 0.1),

  input-tiny-max-width: 100%,
  input-small-max-width: 100%,
  input-medium-max-width: 100%,
  input-large-max-width: 100%,
  input-giant-max-width: 100%,
  select-tiny-max-width: 100%,
  select-small-max-width: 100%,
  select-medium-max-width: 100%,
  select-large-max-width: 100%,
  select-giant-max-width: 100%,
  color-basic-100: #FCFEFF,
  color-basic-200: #F5F9FB,
  color-basic-300: #ECF4F7,
  color-basic-400: #D9E3E8,
  color-basic-500: #C0CBD2,
  color-basic-600: #a0abb4,
  color-basic-700: #74879A,
  color-basic-800: #506681,
  color-basic-900: #334768,
  color-basic-1000: #1E3156,
  color-basic-1100: #131E3D,

  color-primary-100: #F4FBC9,
  color-primary-200: #E8F794,
  color-primary-300: #CFE95D,
  color-primary-400: #B3D334,
  color-primary-500: #8DB700,
  color-primary-600: #759D00,
  color-primary-700: #5F8300,
  color-primary-800: #4A6A00,
  color-primary-900: #3B5700,

  color-info-100: #CBF4FE,
  color-info-200: #98E4FD,
  color-info-300: #64CDFB,
  color-info-400: #3EB5F8,
  color-info-500: #008EF4,
  color-info-600: #006ED1,
  color-info-700: #0052AF,
  color-info-800: #003A8D,
  color-info-900: #002975,

  color-success-100: #EAFDD9,
  color-success-200: #D0FBB5,
  color-success-300: #ADF58E,
  color-success-400: #8CEC70,
  color-success-500: #5AE043,
  color-success-600: #3AC030,
  color-success-700: #21A122,
  color-success-800: #15811E,
  color-success-900: #0C6B1C,

  color-warning-100: #FEFACD,
  color-warning-200: #FEF59B,
  color-warning-300: #FEEE69,
  color-warning-400: #FDE644,
  color-warning-500: #FCDB07,
  color-warning-600: #D8B905,
  color-warning-700: #B59803,
  color-warning-800: #927802,
  color-warning-900: #786201,

  color-danger-100: #FFE9D0,
  color-danger-200: #FFCCA1,
  color-danger-300: #FFA973,
  color-danger-400: #FF8850,
  color-danger-500: #FF5016,
  color-danger-600: #DB3410,
  color-danger-700: #B71D0B,
  color-danger-800: #930C07,
  color-danger-900: #7A0408,

  
  card-margin-bottom: 0,
  outline-width: 0,
  
), light, default);

